.top-background {
  width: 100vw;
  height: 350px;
  background-size: cover;
  background-position: center;
  margin-top: 1px;
}
.flat-show {
  background-color: rgba(230, 230, 230, 0.5);
  // width: 400px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
  h3 {
    font-size: 24px;
  }
  h5 {
    font-size: 14px;
  }
  padding: 5px;
  margin: 30px;
  margin-bottom: 5px;
}
#show-body {
  background-color: #07262D;
}
.flat-show-img {
  padding-left: 10px;
}

.flat-show-title {
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-group span {
  font-size: 12px;
}
.form-control {
  font-size: 12px;
}
#dates {
  width: 250px;
}
#form-button {
  width: 100%;
  font-size: 15px;
}
.input-group {
  padding: 10px;
}
#flat-show-share {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 250px;
}
.flat-show-text {
  padding-left: 10px;
  padding-bottom: 10px;
}

#flat-show-text-symbols {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#doses-alignment {
  display: block;
  margin: auto 0;
}

#show-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
}

#dose-padding {
  padding-top: 25px;
  padding-right: 5px;
}
